.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  width: 100%;
  height: 105px;
}