.navbar-container {
  min-height: 75px;
  max-height: 75px;
  position: absolute;
  width: 100%;
  z-index: 99999;
}

.navbar-title {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  padding-left: 35px;
  width: 60%;
}

.navbar-title > a {
  text-decoration: none !important;
  color: black;
  font-weight: bold;
}

.navbar-btn-container {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: flex-end;
  align-items:  flex-end;
}

.navbar-links {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end;
  align-items: center;
  gap:20px;
  padding-left: 35px;
}

.navbar-links > a {
  text-decoration: none !important;
  color: #A2A8BC;
  font-weight: bold;
}

.navbar-links > a > :hover {
  text-decoration: underline;
}

.navbar-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 0px 25px;
}

.navbar-btn {
  height: fit-content;
  width: 100px;
  text-decoration: none;
}

.navbar-btn-signin {
  color: white !important;
  font-weight: bold !important;
  border: 1px solid white !important;
}
.navbar-btn-signin:hover {
  background-color: white !important;
  color:black !important;
}

.navbar-btn-signup {
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
  border-color: white !important;
}
.navbar-btn-signup:hover {
  color: white !important;
  border-color: white !important;
}