.home-container {
  backgroundColor: gray;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.home-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%
}

.home-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFB200;
  width: 40%
}

.home-right-content-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.home-bg {
  height: 800px;
  margin-right: 5%;
}

.home-description {
  width: 80%;
  height: auto;
  padding: 10px;
}

.home-auth {
  gap: 10px;
}